
# /build/
/build
/build/ALL_BUILD.vcxproj
/build/ALL_BUILD.vcxproj.filters
/build/ALL_BUILD.vcxproj.user
/build/CMakeCache.txt
/build/CMakeFiles
/build/Debug
/build/INSTALL.vcxproj
/build/INSTALL.vcxproj.filters
/build/INSTALL.vcxproj.user
/build/Win32
/build/ZERO_CHECK.vcxproj
/build/ZERO_CHECK.vcxproj.filters
/build/ZERO_CHECK.vcxproj.user
/build/cmake_install.cmake
/build/cmake_uninstall.cmake
/build/esim
/build/gcv
/build/gtmax.opensdf
/build/gtmax.sdf
/build/gtmax.sln
/build/gtmax.suo
/build/ipch
/build/rmax
/build/rmaxob
/build/sul
/build/uninstall.vcxproj
/build/uninstall.vcxproj.filters
/build/uninstall.vcxproj.user

# /central/x86-win32/3rdparty/flycapture2/

# /central/x86-win32/3rdparty/flycapture2/bin/

# /central/x86-win32/3rdparty/flycapture2/include/

# /central/x86-win32/3rdparty/flycapture2/include/flycapture2/

# /central/x86-win32/3rdparty/flycapture2/include/flycapture2/C/

# /central/x86-win32/3rdparty/flycapture2/lib/

# /central/x86-win32/3rdparty/flycapture2/lib/C/


# /rmax/AggSling/

/rmax/*_def.c
/rmax/*_ref.h
/rmax/*_sps.c
/rmax/*_sps.h
/rmax/*_db.c
/rmax/dat*Eth_*.bin
/rmax/dat*Ser_*.bin
/rmax/dr*.bin
/rmax/log*.txt
/rmax/rmax
/rmax/rmaxob
/rmax/rmaxob2
/rmax/rmaxob1and2
/rmax/workversion.h
/rmax/temp*
/rmax/cache/*
/rmax/images/*/
/rmax/.vs/
*.kdev4
.kdev4

/esim/*_def.c
/esim/*_ref.h
/esim/*_sps.c
/esim/*_sps.h
/esim/*_db.c

/gcv/*_def.c
/gcv/*_ref.h
/gcv/*_sps.c
/gcv/*_sps.h
/gcv/*_db.c

/gcv/ip/*_def.c
/gcv/ip/*_ref.h
/gcv/ip/*_sps.c
/gcv/ip/*_sps.h
/gcv/ip/*_db.c

/rmax/history/*
!/rmax/history/readme.txt
/.vscode
/rmax/meob.inp
/rmax/Debug/*
/rmax/Release/*
rmax/bin2mat/build
/rmax/rmax.pdb
.idea/
cmake-build-*/

rmax/testCuda/*_def.c
rmax/testCuda/*_ref.h
rmax/testCuda/*_db.c
rmax/landingiLQR/*_def.c
rmax/landingiLQR/*_ref.h
rmax/landingiLQR/*_db.c

/.vs/
*.editorconfig
/rmax/playback2.bin
/out/build/Linux-GCC-Debug
/rmax/RelWithDebInfo

/generated-docs
